<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>ServletTest</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- 
		Servlet 설정 
		- 자바 클래스를 호출할 수 있는 가상 URL 생성하기
		- 가상 주소 메핑 = 가상 URL + 서블릿
	-->
	
	<servlet>
		<servlet-name>ex01</servlet-name><!-- 3번 -->
		<servlet-class>com.test.servlet.Ex01</servlet-class><!-- 1번 -->
	</servlet>
	
	<!-- 호출할 주소 만들기 : 가상주소라 아무렇게나 만들어도 됨 -->
	<!-- .do는 그냥 서블릿하는사람의 습관임(실제 확장자 아님) -->
	<servlet-mapping>
		<servlet-name>ex01</servlet-name><!-- 3번 -->
		<url-pattern>/ex01.do</url-pattern><!-- 2번 -->
	</servlet-mapping>
	
	<!-- 
		
		2번에있는 '/' 이거는	
		'/' + 'ex01.do'
		아리에 주소 /앞 'http://localhost:8090/servlet' 이거의 함축적 의미
		http://localhost:8090/servlet/ex01.do
	
	-->
	
	<servlet>
		<servlet-name>hi</servlet-name>
		<servlet-class>com.test.servlet.Hi</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>hi</servlet-name>
		<url-pattern>/hi.do</url-pattern>
	</servlet-mapping>
	
	
	
	
	
	
	<servlet>
		<servlet-name>send</servlet-name>
		<servlet-class>com.test.servlet.Ex02_send</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>send</servlet-name>
		<url-pattern>/send.do</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>receive</servlet-name>
		<servlet-class>com.test.servlet.Ex02_receive</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>receive</servlet-name>
		<url-pattern>/receive.do</url-pattern>
	</servlet-mapping>
	
	
</web-app>






